{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulaire</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
         <!-- <label for="name">Nom:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="surname">surname:</label>
        <input type="surname" id="surname" name="surname" required>
        
        <label for="age">age:</label>
        <input type="age" id="age" name="age" required>
        
        <label for="email">email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="">email:</label>
        <input type="email" id="email" name="email" required>  -->
         
        
         <button type="submit">Envoyer</button>
          <a href="{%url 'home'%}">retour a la liste</a>
        
    </form>
</body>
</html>