
{% extends 'base.html' %}
{% block content %}
    

    <title>Liste des Étudiants</title>
    <style>
        .tab{
            border: 2px;
        }
    </style>
</head>

<body>

    <h1 class="title">Liste des Étudiants</h1>
    <a href="{% url 'create_student' %}" class="btn">Ajouter un Étudiant</a>
   

    <table class="tab">
        <thead>
            
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Âge</th>
                <th>Actions</th>
            
        </thead>
        {% for student in students %}
        <tbody>
        
            
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.age }}</td>
                <td>
                    <a href="{% url 'edit_student' student.id %}">Éditer</a>
                    <a href="{% url 'delete_student' student.id %}">Supprimer</a>
                    
                </td>
                  <td><a href="{% url 'logout' %}">Se deconnecter</a> </td>         
          
        </tbody>
        {% endfor %}
    </table>
    {% endblock content %}

